.options{
    width: 60px;
    position: fixed;
    right: 0;
    bottom: 100px;
    z-index: 9999;
    .options-icon{
        padding: 0;
        position: absolute;
        top: 30px;   
        right: 20px;   
        min-width: 50px;
        min-height: 50px;
        z-index: 1;
        box-shadow: -2px 3px 1px -2px rgba(0,0,0,.2), 
                    -2px 2px 2px 0 rgba(0,0,0,.14), 
                    -2px 1px 5px 0 rgba(0,0,0,.12);
        border-radius: 50%;
    }
}